* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.cell {
    width: 2em;
    height: 2em;
    background-color: lightgray;
    border-style: outset;
    border-width: 0.35em;
    transition: opacity 0.1s;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    color: lightgray;
}

.cell.clicked {
    background-color: rgb(188, 188, 188);
    border-style: none;
    border: 0.1em solid darkgray;
    color: blue;
}

.cell.flag {
    background-color: green;
}

.row {
    display: flex;
}

.cell:hover {
    opacity: 0.9;
}