* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.cell {
    width: 2em;
    height: 2em;
    background-color: lightgray;
    border-style: outset;
    border-width: 0.35em;
    transition: opacity 0.1s;
}

.cell.clicked {
    background-color: gray;
    border-style: none;
    border: 0.1em solid darkgray;
}

.row {
    display: flex;
}

.cell:hover {
    opacity: 0.9;
}